/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

/*ETIQUETAS*/
body{
background-image: url(../img/fondo2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Indie Flower';
color: black;
margin-left: 10px;
font-size: 20px;
text-align: right;
}

h2{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h3{
font-family: 'Shadows Into Light';
color: black;
font-size: 20px;
text-align: center; 
}

h4{
	font-family: 'fantasy';
	color: black;
	font-size: 15px;
	text-align: center; 


}

header{
	width: 1000px;
	height: 150px;
	background: #005883;
	text-align: left;
	position: fixed;
	top:0px;
}
/*estilos generales*/
nav ul{
	list-style: none;
	padding: 0px;
}
nav li{
	line-height: 3rem;
	position: relative;
}
nav li ul{
	position: absolute;
}
nav a{
	color: #fff;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	
}
nav a:hover{
	background: rgba(0,0,0,.2);
	text-decoration: none;
	text-shadow: 0 0 10px white;
}

/*primer nivel*/
nav > ul{
	background: #005883;
	display: table;
	position: fixed;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	top:130px;
	font-weight: bolder;
	width: 1000px;
}
nav > ul > li{
	float:left;
}
/*segundo nivel*/
nav li li{
	max-height: 0;
	overflow: hidden;
	background: #005883;
	transition: all 3s;
	width: 150%;
}
nav li:hover >ul>li{
	max-height: 1000px;
	overflow: visible;
}
nav ul > li > ul{
	top: 100%;
} 

section{
	width: 699px;
	background: rgba(0,88,131,.2);
	height: 1000px;
	float: left;
	margin-top: 210px;
	border-radius: 10px;
	border: solid;
	border-color: #005883;


	
}
aside{

	width: 269px;
	background: rgba(0,88,131,.2);
	height: 1000px;
	float: left;
	margin-left: 20px;
	margin-top: 210px;
	border-radius: 10px;
	border: solid;
	border-color: #005883;
}

footer{
width: 1000px;
height: 70px;
background: rgba(0,88,131,0.1);
float: left;
margin-top: 20px;
border-radius: 10px;
border: solid;
border-color: #005883;
margin-bottom: 20px;
}

p{

	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}

figure{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}
figcaption{	
	font-size: 12px;
}
iframe{
	margin-top: 10px;
}

/*CLASES*/

#contenedor{
   width: 1000px;
   height: auto;
   margin: auto;
   position: relative;
}
#titulo{
	margin-left: 10px;
    font-size: 20px;
	text-align: center;
}

#fo{
	margin-bottom: 30px;
}


#banner{

	width: 450px;
	height: 100px;
	float: left;
}

#banner1{
    border:solid;
	border-color: #005883;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}
#section2{
	width: 995px;
	background: rgba(0,88,131,.2);
	height: 2000px;
	float: left;
	margin-top: 210px;
	border-radius: 10px;
	border: solid;
	border-color: white;
}

.objetivo{float: right;width: 300px;height: 286px;}
.footer{float: left;width: 300px;height: 100px;}
.section3{height: 700px;}
.lecturatres{height: 2100px;}
/*SEUDO CLASES*/
